@use '@styles/mixins';

.root {
  @include mixins.section-block;
}

.wrap {
  @include mixins.container;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  margin: 0 0 16px;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  color: var(--green-main);

  @include mixins.mobile {
    font-size: 28px;
  }
}

.block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.part {
  margin: 32px 0 0;
  font-size: 20px;
  font-weight: 500;
  color: var(--dark-600);
}

.heading {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
  color: var(--dark-main);
}

.body {
  margin: 0;
  max-width: 900px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--dark-main);
  white-space: pre-line;

  @include mixins.mobile {
    font-size: 16px;
  }
}

.hl {
  color: var(--green-main);
  font-weight: 500;
}
